/*colors:
Serenity blue-rgba(173, 200, 210, 1);
Slate blue-rgba(84, 98, 123, 1);
Ivory-rgba(244, 244, 246, 1);
Taupe-rgba(159, 156, 147, 1);
olive-rgba(168, 183, 171, 1);
*/ 
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import "https://unpkg.com/open-props";

:root {
     /* main UI color */
    --plyr-color-main: rgba(173, 200, 210, 1);
      /* audio controls background */
    --plyr-audio-controls-background: rgba(84, 98, 123, 1);;
      /* audio controls color */
    --plyr-audio-control-color: rgba(244, 244, 246, 1);;
    /*     icon color on hover   */
  --plyr-audio-control-color-hover: rgba(84, 98, 123, 1);
  /*   buffer backgroud */
  --plyr-audio-progress-buffered-background: rgba(244, 244, 246, 1);
   --plyr-font-family: sans-serif;
  --plyr-font-size-time: 20px;
/*    tooltips  */
    --plyr-tooltip-background: fuchsia;
    --plyr-tooltip-color: black; 
  /*  icon size  */
  --plyr-control-icon-size: 20px;
}  

.plyr {
  position: sticky;
  top: 1px;
  opacity: 30%;
  width: 73%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plyr:hover {
  opacity: 70%;
}

  body {
    font-family: "Merienda", cursive;
    color: rgba(143, 201, 232, 1);
    background-image: var(--gradient-9);
    position: relative;
    isolation: isolate;
    margin: auto;
}

main {
  max-width:100%;
  margin-inline: auto;
}

main img {
  width: 900px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body::before {
content: '';
position: absolute;
z-index: -1;
inset: 0;
opacity: .1;
background-image: url(background.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
border-color: solid rgba(84, 98, 123, 1) 10px;  
margin: auto; 
}

main h1 {
  text-align: center;
  color:rgba(159, 156, 147, 1); 
}

main article, aside {
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main article figure, 
main aside figure {
  color: rgba(84, 98, 123, 1);
  padding: 1em;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  
}

aside {
  color: rgba(84, 98, 123, 1);;
}

h3 i {
  opacity: 80%;
  font-size: 1.6rem;
  color: rgba(159, 156, 147, 1);
}


footer a:link, 
footer a:visited {
  background: rgba(173, 200, 210, 1);
  color: rgba(159, 156, 147, 1);
  padding: 25px;
}

footer a:hover, 
footer a:active {
  background: rgba(84, 98, 123, 1);
  color:rgba(244, 244, 246, 1);
}

@media  (max-width: 600px) {
  
  :root {
    --plyr-font-size-time: 15px;
    --plyr-control-icon-size: 15px;
  }
  
  main img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(173, 200, 210, 1);
  }

  main h1 {
    font-size: 1.5em;
  }
  
  main article {
    flex-direction: column;
  }
 
  main article figure {
  color: rgba(84, 98, 123, 1);
  padding: 1em;
  margin: 0;
  font-size: 1.5rem;
  padding: 5rem;
  }


main aside figure {
    color: rgba(84, 98, 123, 1);
  padding: 1em;
  margin: 0;
  font-size: 1.5rem;
  }

h3 i{
  opacity: 70%;
  font-size: .7rem;
  color: rgba(84, 98, 123, 1);
}
}

